.mainbody{
    flex-direction: column;
    height: auto;
}

.mainbody .headline {
    font-size: 24px;
    line-height: 31px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.navigation ul li {
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    margin: 7px;
    font-size: 12px;
}

.btn{
    font-size: 14px;
}

.content p{
    font-size: 13px;
}

.mainbody .content{
    width: 84%;
    margin: 7vw 1vh;
    color: white;
    flex-direction: column;
    text-align: center;
}

.contentimage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.navigation{
    flex-direction: column;
}

.service1 p{
    font-size: 14px;
}

.service1{
    width: 77vw;
}

.our-services{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.channelMgmt{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.padding-topbottom {
    padding: 20px 0px;
}

.communitymembers h2{
    padding-bottom: 28px;
}

section h2 {
    font-size: 21px;
}

.icon{
    margin-left: 0px;
}

.designs img {
    width: 17vw;
}


.contentimage img {
    width: 100%;
}

.navigation ul{
    padding-right: 0px;
}


.designs img{
    width: 16vw;
    border-radius: 4px;
}

.communitymembers{
    height: auto;
}

.communitymembers .icons{
    font-size: 10vw;
    margin: 0px 10px;
    margin-bottom: 18px;
}