.flex{
    display: flex;
    justify-content: center;
    align-self: center;
}

.textcenter{
    text-align: center;
}

hr{
    color: black;
    background-color: black;
    font-size: bold;
}

.flex-column{
    flex-direction: column;
}

.margin-topb{
    margin: 10px 0px;
}

.padding-topbottom{
    padding: 10px 0px
}